<div class="reserva">
  <div class="info">
    <h4><%= reserve.title %></h4>
    <p><%= reserve.user.name %></p>
    <p><%= format_time(reserve)  %></p>
  </div>
  <div class="opcoes">
    <%= link_to  "Editar", reservations_path %>
  </div>
</div>