<div class="reserva">
  <div class="info">
    <h4>Título</h4>
    <p>Usuário</p>
    <p>09:00 às 10:00</p>
  </div>
  <div class="opcoes">
    <%= link_to  "Editar", reservations_edit_url %>
  </div>
</div>