<ul class="listagem">
  <li>
    <div class="data">
      <h3>31 out</h3>
    </div>
  </li>
  <li>
    <div class="reserva">
      <div class="info">
        <h4>Título</h4>
        <p>09:00 às 10:00</p>
      </div>
      <div class="opcoes">
        <a href="#">Editar</a>
      </div>
    </div>
  </li>
  <li>
    <div class="reserva">
      <div class="info">
        <h4>Título</h4>
        <p>09:00 às 10:00</p>
      </div>
      <div class="opcoes">
        <a href="#">Editar</a>
      </div>
    </div>
  </li>
  <li>
    <div class="reserva">
      <div class="info">
        <h4>Título</h4>
        <p>09:00 às 10:00</p>
      </div>
      <div class="opcoes">
        <a href="#">Editar</a>
      </div>
    </div>
  </li>
  <li>
    <div class="data">
      <h3>1 nov</h3>
    </div>
  </li>
  <li>
    <div class="reserva">
      <div class="info">
        <h4>Título</h4>
        <p>09:00 às 10:00</p>
      </div>
      <div class="opcoes">
        <a href="#">Editar</a>
      </div>
    </div>
  </li>
  <li>
    <div class="reserva">
      <div class="info">
        <h4>Título</h4>
        <p>09:00 às 10:00</p>
      </div>
      <div class="opcoes">
        <a href="#">Editar</a>
      </div>
    </div>
  </li>

</ul>