<div class="row">
  <div class="main col-md-4">
    <h2>Reservas</h2>
    <%= render 'listagem', reservations: @reservations %>
    <%= link_to  "Adicionar", new_reserve_path , class:"btn btn-outline-primary btn-block" %>
    <!-- <button type="button" class="btn btn-outline-primary btn-block">Adicionar</button> -->
  </div>
  <div class="calendar col-md-8">
    <h2>Calendar</h2>
  </div>
</div>