<div class="paniel row">
  <div class="main col-md-4">
    <h2>Reservas</h2>
    <%= render 'form', reserve: @reserve %>
    <%= link_to  "Voltar", reservations_path, class:"btn btn-outline-default btn-block" %>
  </div>
  <div class="calendar col-md-8">
    <h2>Calendar</h2>
  </div>
</div>