.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-register input{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  width: 100%;
  margin-bottom: 5px;
}

.login .form-register input:focus{
  box-shadow: 0 0 0 0 #333;
  padding-left: 3px;
}

.login .form-register input[type=submit]{
  border: none;
  text-transform: uppercase;
}

.login a, h1, h2, h3 {
  text-transform: uppercase;
}